<div class="panel panel-white post panel-shadow">
    <%= link_to feed_item, remote: true,  data: { toggle: "modal", target: "#showPostModal" } do %>
                <% feed_item.post_images.take(1).each do | image | %>
                        <%= image_tag image.avatar.url, class:"img-responsive" %>
                    <% end %>
               <div class="panel-heading">
                    <div class="pull-left">
                        <%= link_to image_tag("avatar.png", class:"img-rounded avatar"), feed_item.user  %>
                    </div>
                    <a href="#"><b><%= feed_item.user.email %></b></a>
                    <p><%= feed_item.created_at %></p>
                    
                    
               </div>
               <%= link_to feed_item, remote: true,  data: { toggle: "modal", target: "#showPostModal" } do %>
                    <div class="panel-body">
                        <h4><%= feed_item.name %></h4>
                        <p><%= feed_item.description %></p>
                    </div>
                <% end %>
                 <div class="inline">
                    <%= link_to like_post_path(feed_item, type: "like"), method: :put, remote: true do %>
                        <div class="votes-<%= feed_item.id %> vote">
                            <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i> <%= feed_item.post_voices.count %>
                        </div>
                    <% end %>
                    <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i> <%= feed_item.post_comments.count %>
                </div>
            </div>
    <% end %>