<%= render 'layouts/header' %>
<div class="main-section">
	<div class="col-md-12">
        <h1 class="text-center">tonleve</h1>
        <h3 class="text-center">Торговая площадка для всех</h3><br><br>
        <div class="text-center">
        	<%= link_to "Зарегистрироваться", new_user_registration_path, class:"btn-success btn-large" %>
        </div>
    	
    </div>	
</div><br><br>
<div class="row">
	<div class="container">
		<div class="col-md-12 text-center">
			<%= form_tag "#", :method => 'get' do %>
	        	<p>
	        		<%= text_field_tag :search, params[:search], class:"main-search", placeholder:"Поиск товаров и услуг" %>
	                <a href="" class="btn-search">
	                	<i class="fa fa-search fa-2x" aria-hidden="true"></i>
	                </a>
	            </p>
            <% end %><br>		
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>Категории товаров</h1>
			</div>
		</div><br>
		<div class="row">
			<div class="col-md-3">
				<%= link_to woman_dresses_path do %>
				    <div class="text-center">
				    	<i class="fa fa-female fa-5x"></i>	
				    	<h3>Одежда для женщин</h3>	
					</div>
				<% end %>
			</div>
			<div class="col-md-3">
				<%= link_to man_dresses_path do %>
					<div class="text-center">
						<i class="fa fa-male fa-5x"></i>	
						<h3>Одежда для мужчин</h3>	
					</div>
				<% end %>
			</div>
			<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-child fa-5x"></i>	
						<h3>Детские товары</h3>	
					</div>
			</div>
			<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-mobile fa-5x"></i>	
						<h3>Телефоны и телекоммуникации</h3>
					</div>
			</div>
		</div><br><br>
		<div class="row">
			<div class="col-md-3">
				<div class="text-center">
					<i class="fa fa-car fa-5x"></i>	
					<h3>Авто и мото</h3>
				</div>
			</div>
			<div class="col-md-3">
				<div class="text-center">
					<i class="fa fa-bath fa-5x"></i>
					<h3>Для дома и сада</h3>	
				</div>
			</div>
			<div class="col-md-3">
				<div class="text-center">
					<i class="fa fa-microchip fa-5x"></i>
					<h3>Компьютеры и сетевое оборудование</h3>	
				</div>
			</div>
			<div class="col-md-3">
				<div class="text-center">
					<i class="fa fa-diamond fa-5x"></i>	
					<h3>Ювелирные изделия</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  				Больше категорий
			</a>
		</div><br><br>
		<div class="collapse" id="collapseExample">
			<div class="row">
			
  				<div class="col-md-3">
  					<div class="text-center">
  						<i class="fa fa-clock-o fa-5x"></i>	
						<h3>Часы</h3>
  					</div>
  				</div>
  				<div class="col-md-3">
  					<div class="text-center">
  						<i class="fa fa-futbol-o fa-5x"></i>
						<h3>Спорт и развлечение</h3>
  					</div>
  				</div>
  				<div class="col-md-3">
  					<div class="text-center">
  						<i class="fa fa-television fa-5x"></i>	
						<h3>Бытовая электроника</h3>
  					</div>
  				</div>
  				<div class="col-md-3">
  					<div class="text-center">
  						<i class="fa fa-paw fa-5x"></i>	
						<h3>Обувь</h3>
  					</div>
  				</div>
			</div><br><br>
			<div class="row">
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-cubes fa-5x"></i>
						<h3>Игрушки и хобби</h3>
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-flash fa-5x"></i>	
						<h3>Лампы и освещение</h3>
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-heartbeat fa-5x"></i>	
						<h3>Красота и здоровье</h3>
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-flask fa-5x"></i>
						<h3>Промышленность и бизнес</h3>
					</div>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-md-3">
					<div class="text-center">
						<span class="mega icon-present"></span>	
						&nbsp;
						<h3>Свадьбы и торжества</h3>
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-bed fa-5x"></i>	
						<h3>Мебель</h3>
					</div>
				</div>
			</div><br><br>
		</div>	
		<br><br>
		<div class="row">
			<div class="col-md-12">
				<h1>Категории услуг</h1>
			</div>
		</div><br>
		<div class="row">
			<div class="col-md-3">
				
					<div class="text-center">
				    	<i class="fa fa-building fa-5x"></i>
						<h3>Инженерно-строительные услуги</h3>	
					</div>
				
			</div>
			<div class="col-md-3">
				
					<div class="text-center">
						<i class="fa fa-bicycle fa-5x"></i>	
						<h3>Услуги проката и аренды</h3>
					</div>
				
			</div>
			<div class="col-md-3">
				
					<div class="text-center">
				    	<i class="fa fa-line-chart fa-5x"></i>	
						<h3>Деловые услуги</h3>	
					</div>
				
			</div>
			<div class="col-md-3">
				
					<div class="text-center">
						<i class="fa fa-wrench fa-5x"></i>	
						<h3>Ремонт и обслуживание техники и оборудования</h3>
					</div>
				
			</div>
		</div><br><br>
		<div class="row">
			<div class="col-md-3">
				
					<div class="text-center">
				    	<i class="fa fa-location-arrow fa-5x"></i>	
						<h3>Логистические и складские услуги</h3>	
					</div>
				
			</div>
			<div class="col-md-3">
				
					<div class="text-center">
						<i class="fa fa-users fa-5x"></i>
						<h3>Бытовые услуги</h3>	
					</div>
				
			</div>
			<div class="col-md-3">
				
					<div class="text-center">
				    	<i class="fa fa-industry fa-5x"></i>
						<h3>Промышленные услуги</h3>	
					</div>
				
			</div>
			<div class="col-md-3">
				
					<div class="text-center">
						<i class="fa fa-glass fa-5x"></i>	
						<h3>Услуги досуга, отдыха, культуры</h3>
					</div>
				
			</div>
		</div><br><br>
		<div class="row">
			<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
  				Больше категорий
			</a>
		</div><br><br>
		<div class="collapse" id="collapseExample2">
			<div class="row">
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-shield fa-5x"></i>	
						<h3>Страхование</h3>
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-heartbeat fa-5x"></i>
						<h3>Услуги в сфере медицины, здоровья и красоты</h3>	
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-paint-brush fa-5x"></i>	
						<h3>Полиграфические и дизайнерские услуги</h3>
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-star fa-5x"></i>	
						<h3>Реклама, маркетинг, PR</h3>
					</div>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-graduation-cap fa-5x"></i>
						<h3>Услуги в сфере образования, тренинги</h3>	
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-home fa-5x"></i>	
						<h3>Аренда недвижимости, риэлторские услуги</h3>
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-globe fa-5x"></i>	
						<h3>Защита окружающей среды</h3>
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-lock fa-5x"></i>
						<h3>Охранные, аварийные и экстренные службы</h3>	
					</div>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-barcode fa-5x"></i>
						<h3>Информационно-коммуникационные услуги</h3>
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-recycle fa-5x"></i>	
						<h3>Коммунальные услуги</h3>
					</div>
				</div>
				<div class="col-md-3">
					<div class="text-center">
						<i class="fa fa-shopping-basket fa-5x"></i>
						<h3>Сельскохозяйственные услуги</h3>	
					</div>
				</div>
			</div><br><br>
		</div>
	</div>
</div>
